@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card {
  @apply bg-white p-3 m-1 rounded bg-opacity-10;
}

.card p {
  @apply text-gray-300 font-mono leading-none pb-4 mx-1 pt-1 opacity-50 text-sm;
}

button {
  @apply bg-white bg-opacity-10 px-4 py-1 rounded m-1 opacity-50;
}

button:hover {
  @apply opacity-75;
}

button:active {
  @apply opacity-100;
}

button:focus {
  @apply outline-none
}

table {
  @apply m-1 leading-7 w-full;
}

td:first-child {
  @apply text-right opacity-50 text-sm;
}


h2 {
  @apply mt-3 ml-1 text-lg;
}

input {
  @apply mt-1 bg-white bg-opacity-10 border px-3 py-2 w-64 border-black border-opacity-25 block shadow-sm rounded
}